@font-face {
    font-family: "SF-DISPLAY-PRO";
    font-weight: 500;
    font-stretch: auto;
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: "SF-DISPLAY-PRO";
    font-weight: 400;
    font-stretch: auto;
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: "SF-UI-TEXT";
    font-weight: 500;
    font-stretch: auto;
    src: url("../fonts/SFUIText-Semibold.ttf");
}

@font-face {
    font-family: "SF-UI-TEXT";
    font-weight: 400;
    font-stretch: auto;
    src: url("../fonts/SFUIText-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}